body {
    background-color: beige;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 8px;
  width: 50%;
}

img {
    height: 500px;
}

h1 {
    color: rgb(6, 188, 188);
    height: 10px;
}

h2 {
    color: rgb(107, 168, 8);
    height: 10px;
}

h3 {
    color: rgb(181, 23, 23);
    height: 10px;
}

h4 {
    color: rgb(12, 200, 200);
    height: 10px;
}